*.exe
.github
.vscode
*.suo
*.user
*.Cache
*.binlog
bin
obj
.DS_Store
.AssemblyAttributes
.netconfig
*node_modules

reports
Testprojects/Go/coverage.cobertura.xml
Testprojects/Go/coverage.out
coverage-report

aldercov.exe 
adlercov
adlercov.log

report_generator_dotnet
output_report.txt
internal/reporter/htmlreact/assets/dist/data.js
