*.exe
.github
.vscode
*.suo
*.user
*.Cache
*.binlog
bin
obj
.DS_Store
.AssemblyAttributes
.netconfig
*node_modules

reports
.vscode/settings.json
Testprojects/Go/coverage.cobertura.xml
Testprojects/Go/coverage.out
