@import "tailwindcss";
@import "./theme.css";
@import "tw-animate-css";

@layer base {
    * {
        border-color: var(--color-border);
    }

    html,
    body,
    #root {
        @apply h-full;
    }

    body {
        @apply bg-subtle;
    }

    /* Custom Scrollbar Styling */
    body {
        scrollbar-width: thin;
        scrollbar-color: var(--color-border) transparent;
    }
    body::-webkit-scrollbar {
        width: 8px;
    }
    body::-webkit-scrollbar-thumb {
        @apply rounded-md;
        background-color: var(--color-border);
    }
    body::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-muted-foreground);
    }
}

@keyframes pulse-bg-animation {
    0%,
    100% {
        /* Use a transparent background of the line's actual color */
        background-color: transparent;
    }
    50% {
        /* Use a semi-transparent version of the primary color for the highlight */
        background-color: var(--secondary-foreground);
    }
}

.animate-pulse-bg {
    /* The animation will run once and last 1.5 seconds */
    animation: pulse-bg-animation 1.5s ease-in-out;
}
